<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>RecordsBooth - Charts</title>
    <meta name="description" content="RecordsBooth Charts lets users log in with their LastFM account to generate Instagram story images showcasing their top music charts and listening habits for easy sharing.">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://recordsbooth.onrender.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="RecordsBooth - Charts">
    <meta property="og:description" content="RecordsBooth Charts lets users log in with their LastFM account to generate Instagram story images showcasing their top music charts and listening habits for easy sharing.">
    <meta property="og:image" content="/public/banner.jpg">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="recordsbooth.onrender.com">
    <meta property="twitter:url" content="https://recordsbooth.onrender.com/">
    <meta name="twitter:title" content="RecordsBooth - Charts">
    <meta name="twitter:description" content="RecordsBooth Charts lets users log in with their LastFM account to generate Instagram story images showcasing their top music charts and listening habits for easy sharing.">
    <meta name="twitter:image" content="/public/banner.jpg">

    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/icon.ico">
</head>