@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Black.ttf');
    font-weight: bolder;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Medium.ttf');
    font-weight: medium;
}

body, p, button {
    font-family: 'Roboto';
    font-weight: medium;
}

h1 {
    font-family: 'Roboto';
    font-weight: bolder;
}

h2 {
    font-family: 'Roboto';
    font-weight: bold;
}